.contenedor-hidden {
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: hidden; /* todo lo que salga del contenedor se ocultara*/
}

.contenedor-scroll {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: scroll; 
}

.contenedor-visible {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: visible; /* como aparece por defecto*/
}

.contenedor-auto {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow: auto; /* pone las barras para scroll donde son necesarias(en el eje de las Y)*/
}

.contenedor-scroll-x {
    margin: 10px 0px;
    background-color: bisque;
    width: 300px;
    height: 100px;
    padding: 15px;
    overflow-x: hidden;
    overflow-x: scroll; 
}

